.header{
    display: grid;
    position: fixed;
    z-index: 999999;
    width: 1294px;
}
.lowHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: -14px;
    border-top: 1px solid white;

}